@font-face {
  font-family: 'icones';
  src: url(../font/icones.ttf);
}

.dark-mode:root {
  --body-bg: #141414;
  --menu-lateral-text: #CCCCCC;
  --secondary-color: #51B7C3;
  --menu-lateral-bg: #012933;
  --text-color: #B2B2B2;
  --contrast-color: #1F1F1F;
  --btn-menu-color: #CCCCCC;
  --menu-color-bg: #01232D;
  --border-section: #989898;
  --section-shadow: #8697a81a;
  --section-card-shadow: #8697a814;
  --section-img-border: #8f8f8f23;
  --link-color: #34BBB4;
  --destaque-hero-shadow1: #51b8c37e;
  --destaque-hero-shadow2: #51b8c344;
  --destaque-hero-shadow3: #51b8c31e;
  --contrast-img: 130%;
  --brightness-img: 80%;
  --mode-icon: "\e9d2"
}

:root {
  --body-bg: #f7f7f7;
  --menu-lateral-text: #FFFFFF;
  --secondary-color: #177E89;
  --menu-lateral-bg: #177E89;
  --text-color: #333333;
  --contrast-color: #FFFFFF;
  --btn-menu-color: #000000;
  --menu-color-bg: #06636d;
  --border-section: #EEEEEE;
  --section-shadow: #8697a81a;
  --section-card-shadow: #8697a814;
  --section-img-border: #dddddd;
  --link-color: #129B93;
  --destaque-hero-shadow1: #51b8c37e;
  --destaque-hero-shadow2: #51b8c344;
  --destaque-hero-shadow3: #51b8c31e;
  --contrast-img: 100%;
  --brightness-img: 100%;
  --mode-icon: "\e9d6"
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: 'Poppins', 'icones', sans-serif;
}

span {
  color: var(--secondary-color);
  font-weight: 700;
}

.cabecalho {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 8px 16px;
}

/* .cabecalho__menu {
  position: fixed;
  right: 0;
  top: 0;
  padding: 8px 16px;
} */

.cabecalho__menu i::before {
  content: "\e9bd";
  font-size: 4.5vh;
  font-weight: normal;
  color: var(--btn-menu-color);
}

.cabecalho__mode i::before {
  content: var(--mode-icon);
  font-size: 4.5vh;
  font-weight: normal;
  color: var(--btn-menu-color);
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  background-color: var(--menu-lateral-bg);
  position: fixed;
  left: -100vw;
  transition: left 0.4s;
}

.menu-lateral--ativo {
  position: fixed;
  left: 0;
  transition: left 0.4s;
  z-index: 10;
}

.menu-lateral__titulo {
  color: var(--menu-lateral-text);
  align-self: center;
  font-size: 48px;
  width: 100%;
  background-color: var(--menu-color-bg);
  text-align: center;
  padding: 30px;
  letter-spacing: 2px;

}

.menu-lateral__link {
  display: flex;
  align-items: center;
  padding-left: 80px;
  color: var(--menu-lateral-text);
  height: 54px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-lateral__link--ativo:hover, .menu-lateral__link--ativo:active{
    color: var(--menu-lateral-text);
    padding-left: 74px;
    letter-spacing: 1.2px;
    border-left: 8px solid var(--menu-lateral-text);
}

.menu-lateral__link::before {
  content: "";
  width: 24px;
  height: 24px;
  font-size: 26px;
  position: absolute;
  left: 40px;
  font-weight: 400;
}

.menu-lateral__link-inicio::before {
  content: "\e902";
}

.menu-lateral__link-sobre::before {
  content: "\e971";
}

.menu-lateral__link-habilidades::before {
  content: "\e9b8";
}

.menu-lateral__link-projetos::before {
  content: "\e9ae";
}

.menu-lateral__link-contato::before {
  content: "\ea83";
}

.destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px ;
}

.destaque--hero-img {
  max-width: 70%;
  max-height: 70%;
  border-radius: 50%;
  box-shadow: 8px 0 var(--destaque-hero-shadow1), 16px 0 var(--destaque-hero-shadow2), 24px 0 var(--destaque-hero-shadow3);
}

.destaque--apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 8px;
}

.destaque--apresentacao-saudacao {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--text-color);
  font-weight: 500;
}

.destaque--apresentacao-titulo {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin: 24px 0;
  font-weight: 700;
}

.destaque--apresentacao-bio {
  text-align: center;
  line-height: 1.2;
}

.destaque--apresentacao-links {
  display: flex;
  justify-content: center;
  width: 65%;
  padding: 16px;
}

.destaque--apresentacao-link {
  display: flex;
  padding: 8px;
  align-items: center;
}

.destaque--apresentacao-link a {
  display: flex;
  justify-content: center;
}

.destaque--apresentacao-link-img {
  width: 70%;
  height: 70%;
  max-width: 100px;
  filter: brightness(var(--contrast-img)) contrast(var(--brightness-img));
}

.secao {
  padding: 32px 16px;
}

.secao--separador-titulo {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.secao--conteudo-texto {
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.1rem;
  text-align: justify;
  padding: 8px 0;
}

.secao--separador span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: var(--text-color);
  z-index: 9;
}

.secao--separador span {
  padding-bottom: 20px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  padding-left: 80px;
  letter-spacing: 1px;
}

.secao--conteudo-skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  
  gap: 15px;
  padding: 16px 0;
}

.secao--conteudo--skills-item {
  background-color: var(--contrast-color);
  border-radius: 15px;
  box-shadow: 0px 4px 8px var(--section-shadow);
  padding: 10px;
  border: 1px solid var(--border-section);
  width: 80px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.secao--conteudo--skills-item img {
  width: 40px;
  height: 40px;
  filter: brightness(var(--contrast-img)) contrast(var(--brightness-img));
}

.secao--conteudo--skills-item p {
  box-sizing: border-box;
  margin-top: 6px;
  font-weight: 700;
  font-size: 70%;
}

.secao--projetos-card {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid var(--border-section);
  box-shadow: 0px 14px 28px var(--section-card-shadow);
}

.secao--projetos-card img {
  width: 100%;
  border: 1px solid var(--section-img-border);
  border-radius: 10px;
}

.secao--projetos-card-conteudo {
  width: 100%;
  padding: 16px;
  margin-top: 16px;
}

.secao--projetos-card-conteudo h3 {
  font-size: 1.3rem;
  font-weight: 700;

}

.secao--projetos-card-conteudo h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 8px 0;
}

.secao--projetos-card-conteudo li {
  font-weight: 500;
  margin-top: 20px;
} 

.secao--projetos-card-conteudo li::before {
  content: "•";
  padding-right: 14px;
  font-size: 1.3rem;
}

.secao--projetos-card-links {
  padding: 16px 0;
}

.secao--projetos-card-links a {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 20px;
  color: var(--link-color);
  display: inline-block;
  text-decoration: underline;
}

.secao--contato--card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 30vh;
}

.secao--contato--card i::before {
  content: "\ea83";
  font-size: 3rem;
}

.secao--contato--card a {
  text-decoration: underline;
  padding: 8px 0;
  font-weight: 700;
}

.secao--contato--card p {
  padding: 8px 0;
  font-weight: 100;
  font-size: 0.8rem;
}

.rodape {
  background-color: var(--contrast-color);
  text-align: center;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 20px;
}