body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}
.caixa {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.bg {
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=50);
}
.conteudo-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;

}
.title {
    width: 45%;
    margin-top: 20%;
}

.caixa ul {
    text-align: center;
    margin-top: 20px;
}

.caixa li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.caixa li {
    display: inline-block;
    padding: 15px;
    border: 2px solid #c2630a;
    margin-left: 10px;
    font-weight: bold;
    transition: 1s all;
    width: 20%;
}

.enviar {
    padding: 15px;
    border: 2px solid #c2630a;
    font-weight: bold;
    transition: 1s all;
    text-transform: uppercase;
}

.caixa li:first-child, .enviar {
    background-color: #c2630a;
}

.caixa li:hover, .enviar:hover {
    background-color: #f19239;
    border: 2px solid #f19239;
    cursor: pointer;
}

nav ul {
    padding: 20px;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 12px;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

nav li a:hover {
    border-bottom: 1px solid #FFFFFF;
}

#introducao {
    width: 80%;
    margin: 0 auto; 
    background-color: #414040;
    position: relative;
    z-index: 1000;
}

.intro-conteudo {
    padding: 80px;
}

.texto-intro {
    width: 65%;
    display: inline-block;
}

.intro-conteudo h1 {
    font-size: 3.5em;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro-conteudo h3 {
    margin: 30px 0;
    font-size: 0.9em;
    font-weight: bold;
}

p {
    padding: 18px 0;
    color: #969494;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
}

.caixa-infos {
    width: 34%;
    display: inline-block;
    vertical-align: top;
}

.info-conteudo {
    padding-left: 50px;
}

.info-conteudo h4, .formulario h4 {
    font-weight: bold;
    color: #ebad27;
    text-transform: uppercase;
    padding: 8px 0;
}

.info-conteudo ul {
    padding: 10px 0;
}
.info-conteudo li {
    padding: 3px 0;
}

.img-xboxpc {
    width: 85%;
    text-align: center;
    vertical-align: middle;
}

.img-ps {
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.info-conteudo table {
    margin: 20px 0;
}
.info-conteudo table td:first-child{
    width: 20px;
}

.info-conteudo table td {
    vertical-align: middle;
}

.info-conteudo table tr {
    padding: 0;
}

.plataforma {
    vertical-align: middle;
    padding: 8px;
    color: #969494;
    font-size: 1em;
    text-transform: uppercase;
}

#caracteristicas {
    width: 100%;
    position: relative;
    top: -40px;
}

.caracteristica-fundo {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 500;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/caracteristicas.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.caracteristica-1, .caracteristica-3, .caracteristica-2 {
    padding: 60px 120px 0;
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.caracteristica-2-fundo {
    width: 100%;
}

.caracteristica-2-caixa {
    display: inline-block;
    width: 30%;
}

.caracteristica-1 h1, .caracteristica-2-caixa h1, .caracteristica-3 h1, .formulario h1, .midia-caixa h1 {
    font-size: 3.0em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.img-caracteristica-2 {
    width: 100%;
    margin-top: 20%;
}

.caracteristica-3-caixa {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.img-caracteristica-3 {
    margin-top: 100px;
    width: 120%;
}

.edicoes-caixa {
    width: 80%;
    height: 500px;
    margin: 25px auto;
    text-align: center;
}

.imagem-jogo, .formulario {
    width: 48%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.imagem-jogo img {
    margin-top: 50px;
    width: 65%;
}

.formulario {
    padding-top: 80px;
    text-align: left;
}

.formulario form {
    padding-top: 25px;
}

.formulario form legend {
    font-weight: bold;
    font-size: 0.8em;
    color: #ebad27;
    text-transform: uppercase;
    padding: 8px 0;
}

.midia-caixa {
    padding: 5% 0 5% 0;
    width: 80%;
    margin: 150px auto 0 auto;
    text-align: center;a
}